.Add-Product-Top-HBox{
-fx-background-color:linear-gradient(to bottom, #05b074 20%, #0BF6A4);
-fx-text-fill:#FFFFFF;
-fx-background-radius:10;
}
.Add-Product-Top-Button{
-fx-background-color:transparent;
-fx-text-fill:#FFFFFF;
-fx-font-size:20px;
-fx-font-weight:bold;
}